@model IEnumerable<MHC_Hospital_Redesign.Models.DepartmentDto>
<h2>List of departments</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DId }) |
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.DId })
            </td>
        </tr>
    }

</table>